.container-fluid {
  max-width: 100%;
  text-align: center;
}

.row {
  margin: 10px;
}

.date {
  border-bottom: 4px solid black;
  padding-bottom: 50px;
}

.hour {
  border-top: 1px solid lightgrey;
  text-align: right;
}

div input.form-control {
  background-color: transparent;
}

.present {
  background-color: #E98061;
}

.past {
  background-color: gray;
}

.btn {
  background-color: turquoise;
  color: white;
  width: 100px;
  margin-left: -40px;
  border: 1px solid lightgrey;
}

.future {
  background-color: #7BF577;
}




